.terraform/
.serverless/
*.tfstate
*.tfstate.backup
*.zip
*.log
.cache/
.vscode/
.venv/
__pycache__/
node_modules/terraform/terraform.tfvars

# Ignore large Terraform provider binaries
terraform/.terraform/
terraform/.terraform/providers/
.history/
